<nav class="navbar" style="background-color: #182b3a;
background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand text-white" [routerLink]="['/login']">Login</a>
      <a class="navbar-brand text-white" [routerLink]="['/signUp']">Sign Up</a>
      <a class="navbar-brand text-white" [routerLink]="['/profile']">Profile</a>
      <a class="navbar-brand text-white" [routerLink]="['/addVerifyUsers']">All Verify Users</a>
      <a class="navbar-brand text-white" [routerLink]="['/logOut']" (click)="logOut()">LogOut</a>
    </div>

    <app-search>
    </app-search>

  </div>
</nav>