.navbar-brand {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
}

.navbar-brand:hover {
  background-color:#182b3a;
}
  
.buttonClose{
    color:#182b3a;
    background-color: #fafbfb;
 }