<nav class="navbar navbar-light navbar-brand bg-primary">
   <div class="d-flex justify-content-center align-items-center w-100">
    <a class="navbar-brand" [routerLink]="['/post']">Home</a>
    <a class="navbar-brand" [routerLink]="['/post']">Friends</a>
    <a class="navbar-brand" [routerLink]="['/profile']">Edit/Delete Profile</a>
   </div>
</nav>

<div class="d-flex mt-4">
    <div class="d-flex"  style="background-color: aqua; width: 20%; "> 
       Lorem ipsum dolor sit amet.
    </div>
    <div class="d-flex justify-content-center align-items-center" style="background-color: bisque; width: 60%">
        
        <div *ngIf="postByPostName | async as postByPostName">
         <h3>My Post</h3>
          <h4 *ngFor="let allPost of postByPostName; let i = index">
              <div class="btn btn-primary" [routerLink]="['/post']">
               {{i + 1}} {{ allPost.postText}}
              </div>
          </h4>
        </div>
    </div>
    <div class="d-flex" style="background-color: blue; width: 20%">
       Lorem ipsum dolor sit amet.
    </div>
</div>

 
 
 