.profile-image {
  display: flex;
  align-items: center;
  width: 60%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgb(209, 222, 233);;
}

.info{
  color: black;
}

.app-image {
  margin-right: 20px;
  margin-top: 30%;
  margin-left: 100px;
  margin-bottom: -140px;
  z-index: 1;
}

.profile-image .app-image {
  width: 50px;
  margin-right: 20px;
  margin-top: 20%;
  margin-left: 100px;
  align-self: flex-start;
}

.main2 {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.all-info {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-left: 15px;
}


.fas {
  color: black;
  font-size: 25px;
}

a{
  margin: 20px;
}

.fas:hover{
  color: darkgrey;
}


.icon-meny {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  position: fixed;
  left: 15px;
}

.razd {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
}

.levo{
  position: absolute;
  left: 5%;
  top: 0;
  width: 100%;
  color: darkgrey;
}

.desno{
  color: darkgrey;
  position: absolute;
  left: 80%;
  top: 0; 
  width: 100%;
}

.sredina{
  color: darkgrey;
position: absolute;
width: 100%;
top: 0;
left: 43%;
}


.text-desno{
  width: 100%;
  top: 100px;
  position: absolute;
  left: -80%;
  text-align: center;
}

.text-levo{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 width: 700px;
 color: black;
}

.text-sredina{
  width: 100%;
  top: 100px;
  position: absolute;
  right: 47%;
  text-align: center;
}

.levo:hover, .sredina:hover, .desno:hover {
cursor: pointer;
color: black;
}


.asside-right{
  width: 25%;
}


.mainDivAllUsers{
  background-color: rgb(249, 246, 246);
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
}

.allUsersDiv{
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 10px;
}

.imageContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.trongtext-assideMain{
  display: flex;
  align-items: center;
  justify-content: center;
}

.assideMain{
  background-color: rgb(249, 246, 246);
  height: 400px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 20px;
} 

 .text-assideMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
} 

.img-profile{
  width: 50px;
  border-radius: 50%;

}