.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input{
  border-radius: 10px;
  border: 2px solid blue;
}



p{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

app-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}