.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
 }

 .inputImage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }


 /* .img-input{
display: flex;
align-items: start;
justify-content: start;
 } */

 .input-Img{
display: flex;
justify-content: center;
align-items: center;
width: 100%;

 } 

.img-profile{
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.commentImg{
  display: flex;
  justify-content: start;
  align-items: start;

}

.comment-textDiv{
width: 100%;
display: flex;
flex-direction: column;
justify-content: start;
align-items: start;
}

.post-imageName{
  display: flex;
  align-items: start;
  justify-content: start;
}
 
.main {
  width: 60%;
  padding: 20px;
  margin-right: 10px;
}
  
  .asside-right {
    width: 30%;
    padding: 20px;
    margin-left: 10px;
    height: 500px;
  }
  

.btnPost{
    display: flex;
    width: 100%; 
    top: 0;
}

.assideMain{
    background-color: rgb(249, 246, 246);
    height: 400px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
  } 
  
   .text-assideMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  } 

  .search{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
  }

.elon{
  width: 55px;
  height: 45px;
  position: relative;
  top: 269px;
  right: 564px;
}

.amel{
  width: 55px;
  position: relative;
  top: 335px;
  right: 611px;
}

.twitter{
  width: 55px;
  position: relative;
  top: 399px;
  right: 665px;
}

.erdal{
  width: 55px;
  height: 55px;
  position: relative;
  top: 612px;
  right: 718px;
}