<div class="container">

  <form [formGroup]="postForm" (ngSubmit)="onPost()" style="background-color: #a55c1b;
background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%)">
    <label for="postText" style="color: white;">Post</label>
    <input class="form-control" type="text" name="postText" formControlName="postText">
    <button type="submit" class="btn form-control" style="color: white;" >Add Post</button> 
  </form>

  <div *ngIf="allPosts$ | async as allPosts">
    <div *ngFor="let post of allPosts; let i = index">
      <div class="row">
        <div class="col-12">
          <div class="card" style="background-color: #182b3a;
          background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
          ">
            <div class="card-head text-center" style="background-color: #182b3a;
            background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
            " >
             <div style="color: white;">
              username: {{ post.postName }}
             </div>
            </div>

            <div style="color: white;" class="card-body text-center">
              {{ i + 1 }} post: {{ post.postText }}
            </div>
            
            <div class="card-footer" style="background-color: #182b3a;
            background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
            ">
              <p style="color: white;" *ngFor="let comment of posts[post.id]">
                {{ comment.commentText }}
                username:{{comment.commentName}}
              </p>

              <form [formGroup]="commentForm" (ngSubmit)="onComment()" style="background-color: #a55c1b;
              background-image: linear-gradient(315deg, #a55c1b 0%, #000000 74%)">
                <label style="color: white;" for="commentText">Unesi komentar</label>
                <input type="text" name="commentText" formControlName="commentText">
                <button class="btn" type="submit" style="color: white;" (click)="getClickedPost(post.id)">Add Comment</button>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>