<div class="container search">
  <form class="d-flex" (ngSubmit)="search(searchKeyword.value)">
    <input class="input-search form-control me-2" type="search" placeholder="Search" aria-label="Search" #searchKeyword>
    <button class="btn btn-dark" type="submit">Search</button>
  </form>
</div>
<div class="search-results" *ngIf="filteredUsers.length > 0">
  <button (click)="closeFoundUsers()" class="buttonClose btn">close</button>
  <ul class="user-list">
    <li class="user-item" *ngFor="let user of filteredUsers">
      <a (click)="userView(user)" class="user-link">{{ user.nameAccount }} {{ user.lastNameAccount }}</a>
    </li>
  </ul>
</div>
<div *ngIf="selectedUser">
  <a class="user-details">
    <button class="close-btn" (click)="closeView()">Close</button>
    <h4>Job: {{selectedUser.job}}</h4>
    <h4>NameAccount: {{selectedUser.nameAccount}}</h4>
    <h4>LastNameAccount: {{selectedUser.lastNameAccount}}</h4>
    <h4>Phone: {{selectedUser.phone}}</h4>
    <h4>Age: {{selectedUser.age}}</h4>
  </a>
</div>