<div class="container mt-5" style="width: 400px;">
    <div *ngIf="verifyUsers | async as verifyUsers">
      <div class="text-center">
        <div class="container mt-4">
            <ul class="user-list">
              <li class="user-item" *ngFor="let allVerify of verifyUsers">
                <div class="user-info">
                  <h3>{{allVerify.nameAccount}} {{allVerify.lastNameAccount}}</h3>
                  <button class="btn" (click)="viewFriend(allVerify)">Add Friends</button>
                </div>
              </li>
            </ul>
          </div>
          
      </div>
    </div>
    <div *ngIf="selectedUsers">
        <div class="user-details">
          <button class="close-btn" (click)="viewClose()">X</button>
          <button class="btn btn-warning" (click)="addFriends()">Add Friend</button>
          <h4>{{selectedUsers.nameAccount}}</h4>
          <h4>{{selectedUsers.lastNameAccount}}</h4>
          <h4>{{selectedUsers.job}}</h4>
        </div>
      </div>
    </div>